.header {
  max-width: 280px;
  height: 460px;
  margin: 0 auto;
  padding-top: 20px;
  background-image: url('../images/header/header-bg_mob.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--accent);

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  @include mq(tab) {
    max-width: 704px;
    width: 100%;
    height: 222px;
    background-image: url('../images/header/header-bg_tab.jpg');
  }
  @include mq(desk) {
    max-width: 1216px;
    height: 316px;
    padding: 16px 32px 32px;
    background-image: url('../images/header/header-bg_desk.jpg');
    padding-bottom: 0;
  }

  &__top {
    @include mq(tab) {
      display: flex;
      align-items: baseline;
      gap: 15px;
    }
  }

  &__bottom {
    @include mq(mob-only) {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.offset-top {
        margin-top: 110%;
      }
    }

    @include mq(tab) {
      position: relative;
    }
  }
}
