.header {
  background-color: rgb(101, 16, 16);

  @include mq(mob-only) {
    height: 440px;
    padding-top: 20px;

    &__overlay {
      max-width: 320px;
      width: 100%;
      margin: 0 auto;
      background-position: center 20%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: var(--accent);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-image: url('../images/header/header-bg_mob.jpg');
    }
  }

  @include mq(tab) {
    display: flex;
    align-items: center;
    height: 70px;
  }

  .container {
    display: flex;

    @include mq(mob-only) {
      flex-direction: column;
    }

    @include mq(tab) {
      align-items: center;
      justify-content: space-between;
    }
  }
}
