.header {
  max-width: 280px;
  height: 460px;
  margin: 0 auto;
  padding: 20px 0;
  background-image: url('../images/header/header-bg_mob.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--accent);

  @include mq(tab) {
    max-width: 704px;
    width: 100%;
    height: 222px;
    padding: 16px 0;
    background-image: url('../images/header/header-bg_tab.jpg');
  }
  @include mq(desk) {
    max-width: 1216px;
    height: 316px;
    padding: 16px 32px 32px;
    background-image: url('../images/header/header-bg_desk.jpg');
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    padding: 0 16px;
  }

  &__top {
    @include mq(tab) {
      display: flex;
      align-items: baseline;
      gap: 15px;
    }
  }

  .nav {
    margin-bottom: 10px;

    @include mq(tab) {
      order: 2;
    }

    &__list {
      text-transform: uppercase;
      color: var(--dark);
    }

    &__item {
      display: inline-block;
      height: 34px;

      @include mq(tab) {
        height: 38px;
      }
      @include mq(desk) {
        height: 42px;
      }
      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 23px;
      background-color: var(--light);
      border-radius: 100px;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: var(--light);
        background-color: var(--dark);
      }

      &--current {
        color: var(--light);
        background-color: var(--dark);
      }
      @include mq(tab) {
        min-width: 80px;
      }
      @include mq(desk) {
        min-width: 100px;
      }
    }
  }

  .search-form {
    --input-h: 34px;
    height: var(--input-h);
    position: relative;
    width: 250px;

    @include mq(tab) {
      --input-h: 38px;
      height: var(--input-h);
      width: 165px;
      order: 1;
    }
    @include mq(desk) {
      --input-h: 42px;
      height: var(--input-h);
      width: 187px;
    }

    &__input {
      width: 100%;
      height: 100%;
      padding-right: var(--input-h);
      padding-left: calc(var(--input-h) / 2);
      color: var(--dark);
      background-color: var(--light);
      border: transparent;
      border-radius: 100px;

      &::placeholder {
        color: inherit;
      }
      @include mq(tab) {
        font-size: 14px;
        text-align: center;
      }
    }

    &__btn {
      position: absolute;
      top: 8px;
      right: 16px;
      width: 14px;
      height: 14px;
      color: var(--dark);
      background-color: transparent;
      border: 0;
      cursor: pointer;

      @include mq(tab) {
        top: 11px;
      }
      @include mq(desk) {
        top: 13px;
        right: 18px;
      }
    }

    &__icon {
      width: 100%;
      height: 100%;
    }

    &__search-error {
      font-weight: normal;
      text-align: center;
      color: var(--light);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
      &.visible {
        opacity: 1;
        visibility: visible;
      }

      @include mq(mob-only) {
        margin-top: 8px;
      }
      @include mq(tab) {
        margin-top: 10px;
      }
    }
  }

  &__bottom {
    @include mq(mob-only) {
      margin-left: 20px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &__icon {
      width: 32px;
      height: 32px;

      @include mq(tab) {
        width: 40px;
        height: 40px;
      }
      @include mq(desk) {
        width: 60px;
        height: 60px;
      }
    }

    &__title {
      padding-top: 5px;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      line-height: calc(38px / 32px);
      color: var(--light);

      @include mq(tab) {
        font-size: 40px;
        line-height: 47px;
        line-height: calc(47px / 40px);
      }
      @include mq(desk) {
        font-size: 64px;
        line-height: calc(75px / 64px);
      }
    }
  }

  .btns {
    margin-top: 15px;

    .btn__watched,
    .btn__queue {
      height: 34px;
      padding: 0 24px;
      text-transform: uppercase;
      box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
      border-radius: 100px;
      border: 0;
      cursor: pointer;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: var(--light);
        background-color: var(--accent);
      }
    }

    .btn__watched {
      color: var(--light);
      background-color: var(--accent);

      &:hover,
      &:focus {
        color: var(--accent);
        background-color: var(--light);
      }
    }
    .btn__queue {
      color: var(--accent);
      background-color: var(--light);
    }
  }
}
