.movies {
  padding-top: 20px;
  padding-bottom: 30px;

  @include mq(tab) {
    padding: 32px 0 60px;
  }

  &__trending {
    padding-bottom: 40px;

    @include mq(tab) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding-bottom: 60px;
    }

    @include mq(desk) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    cursor: pointer;

    @include mq(mob-only) {
      margin-bottom: 20px;
    }
  }
  &__img {
    max-height: 390px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .movies-info {
    display: flex;
    align-items: baseline;
    padding-right: 2px;
    color: var(--accent);

    @include mq(tab) {
      font-size: 14px;
      font-weight: normal;
    }

    &__title {
      width: 277px;
      margin-bottom: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-transform: uppercase;
      color: var(--dark);

      @include mq(tab) {
        width: 215px;
        font-size: 14px;
        font-weight: 500;
      }
      @include mq(desk) {
        width: 279px;
      }
    }

    &__genres {
      @include mq(tab) {
        max-width: 130px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      @include mq(desk) {
        max-width: 190px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &__year {
      padding: 0 5px;
    }

    &__rating {
      display: inline-block;
      margin-left: auto;
      padding: 2px 8px 0;
      color: var(--light);
      background-color: var(--accent);
      border-radius: 4px;
    }
  }

  &__lib {
    padding: 0;
  }
}
