@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  height: 100%;
  font-family: var(--ff-main);
  overflow-y: scroll;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(14px / 12px);
  background-color: var(--main-bg);
}

body.no-scroll {
  height: 100vh;
  width: 100vw;
  padding-right: 6px;
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.section {
  padding: 30px 0 50px;

  &.popular {
    margin-bottom: 70px;
  }
}

.search__root,
.popular__root,
.library-root {
  @include mq(tab) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}

.trending__title,
.popular__title,
.search__title {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
