:root {
  // Font
  --ff-main: 'Roboto', sans-serif;

  // Colors
  --footer-bg: #e5e5e5;
  --light: #fff;
  --dark: #000;
  --accent: #b92f2c;
  --accent-hover: #982725;

  --pagination-nex-prev: #f7f7f7;
}
