<footer class="footer">
  <div class="container">
    <div id="tui-pagination-container" class="tui-pagination"></div>
    <div class="copyright">
      © 2023 | All Rights Reserved | Developed by
      <span class="heart">
        <!-- <svg>
          <use href="./images/sprite.svg#heart"></use>
        </svg> -->
      </span>
      <a
        class="footer__link"
        href="https://github.com/axrmr/"
        target="_blank"
        rel="noopener"
        >Olexandr Morar</a
      >
    </div>
  </div>
</footer>
