.logo {
  display: flex;
  align-items: center;

  @include mq(mob-only) {
    margin-top: 75%;
  }

  &__icon {
    width: 50px;
    height: 50px;
    padding: 0;

    @include mq(tab) {
      width: 40px;
      height: 40px;
    }

    @include mq(desk) {
      width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-weight: 700;
    color: var(--light);

    @include mq(mob-only) {
      font-size: 48px;
    }

    @include mq(tab) {
      vertical-align: top;
      font-size: 40px;
      line-height: calc(47px / 40px);
    }

    @include mq(desk) {
      font-size: 80px;
      line-height: calc(75px / 64px);
    }
  }
}
