.logo {
  display: flex;
  align-items: center;

  @include mq(mob-only) {
    order: 3;
    margin-top: 95%;
  }

  &__icon {
    display: inline-block;
    width: 60px;
    height: 36px;
    padding: 0;
  }

  &__title {
    font-weight: 700;
    color: var(--light);

    @include mq(mob-only) {
      font-size: 48px;
    }

    @include mq(tab) {
      vertical-align: top;
      font-size: 28px;
      letter-spacing: 0.05em;

      text-transform: uppercase;
      line-height: calc(47px / 40px);
    }

    @include mq(desk) {
      letter-spacing: 0.05em;
      line-height: calc(75px / 64px);
    }
  }
}
