.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  // Modal content
  &__content {
    position: relative;
    max-width: 320px;
    min-height: 440px;
    overflow: hidden;
    padding: 40px 20px 20px;
    background-color: var(--light);
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

    &.visible {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }

    @include mq(mob-only) {
      width: calc(100% - 40px);
      height: calc(100% - 20px);
      overflow: auto;
    }
    @include mq(tab) {
      max-width: 705px;
      max-height: 520px;
    }
    @include mq(desk) {
      max-width: 805px;
      min-height: 530px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 2;
    width: 35px;
    height: 35px;
    color: var(--dark);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;

    @include mq(tab) {
      right: 12px;
    }

    .close-icon {
      width: 100%;
      height: 100%;
      fill: currentColor;
      stroke: currentColor;
      pointer-events: none;
    }
  }

  // content item
  &__content-item {
    width: 100%;
    font-size: 12px;

    @include mq(tab) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @include mq(desk) {
      gap: 0px;
    }
  }

  &__img {
    object-fit: contain;

    @include mq(mob-only) {
      margin-bottom: 15px;
    }
    @include mq(tab) {
      max-width: 325px;
      margin-top: -15px;
    }
    @include mq(desk) {
      max-height: 480px;
    }
  }
}

// Modal about
.modal-about {
  margin-bottom: 30px;

  font-size: 12px;
  text-align: justify;
  line-height: calc(20px / 12px);

  @include mq(desk) {
    font-size: 14px;
    line-height: calc(20px / 12px);
  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;

    @include mq(desk) {
      margin-bottom: 5px;
    }
  }
}

// Modal info
.modal-info {
  line-height: calc(16px / 12px);

  &__title {
    margin-bottom: 12px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: calc(23px / 20px);
    color: var(--dark);

    @include mq(tab) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    width: 260px;
    color: #8c8c8c;

    & > span {
      display: grid;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @include mq(desk) {
      font-size: 14px;
    }
  }

  &__votes-number {
    display: block;
    padding: 2px 8px;
    color: white;
    background-color: var(--accent);
    border-radius: 8px;
  }

  &__popularity-number,
  &__original-title-name,
  &__genre-name {
    color: var(--dark);
  }
}

.modal-about__title {
  margin-bottom: 5px;
}

// Modal buttons
.modal-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;

  @include mq(desk) {
    justify-content: space-evenly;
  }

  &--queue,
  &--trailer {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 145px;
    height: 34px;

    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid gray;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;

    @include mq(mob-only) {
      width: 100%;
      height: 45px;
      text-align: center;
    }
    @include mq(tab) {
      min-width: 155px;
      height: 38px;
    }
    @include mq(desk) {
      min-width: 175px;

      height: 44px;
      font-size: 14px;
    }

    &:hover {
      color: var(--accent);
      background-color: var(--light-hover);
    }
  }

  &--queue {
    padding: 4px 0px 0px 0px;
    color: var(--accent);
    background-color: transparent;

    svg {
      width: 25px;
      height: 25px;
      margin-bottom: 6px;
      margin-left: 13px;
      fill: currentColor;
    }

    @include mq(desk) {
      padding-top: 0;
    }
  }

  &--trailer {
    padding: 6px 8px;
    color: var(--light);
    background-color: var(--accent);

    svg {
      width: 20px;
      height: 20px;
      margin-bottom: 6px;
      margin-left: 6px;
      transform: rotateZ(-20deg);
      fill: currentColor;
    }
  }
}
