.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__content {
    position: relative;
    max-width: 320px;
    overflow: auto;
    padding: 40px 20px 20px;
    background-color: var(--light);
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;

    &.visible {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }

    @include mq(mob-only) {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
    }
    @include mq(tab) {
      max-width: 705px;
    }
    @include mq(desk) {
      max-width: 805px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 5px;
    right: 14px;
    z-index: 2;
    width: 30px;
    height: 30px;
    color: #8c8c8c;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      color: var(--dark);
      transform: scale(1.05);
    }

    @include mq(tab) {
      right: 12px;
    }

    .close-icon {
      width: 30px;
      height: 30px;
      stroke: currentColor;
      fill: currentColor;

      pointer-events: none;
    }
  }

  &__content-item {
    font-size: 12px;

    @include mq(tab) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 70px;
    }
    @include mq(desk) {
      gap: 15px;
    }
  }

  &__img {
    max-height: 355px;
    object-fit: cover;
    border-radius: 5px;

    @include mq(mob-only) {
      margin-bottom: 15px;
    }
    @include mq(tab) {
      max-width: 375px;
    }
    @include mq(desk) {
      max-height: 480px;
    }
  }
}

.modal-about {
  margin-bottom: 25px;

  font-size: 12px;
  text-align: justify;
  line-height: calc(20px / 12px);

  @include mq(desk) {
    font-size: 14px;
    line-height: calc(20px / 12px);
  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;

    @include mq(desk) {
      margin-bottom: 5px;
    }
  }
}

.modal-info {
  line-height: calc(16px / 12px);

  &__title {
    margin-bottom: 12px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: calc(23px / 20px);
    color: var(--dark);

    @include mq(tab) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    width: 260px;
    color: #8c8c8c;
    & > span {
      display: grid;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    @include mq(desk) {
      font-size: 14px;
    }
  }

  &__votes-number {
    display: block;
    padding: 2px 8px;
    color: white;
    background-color: var(--accent);
    border-radius: 8px;
  }

  &__popularity-number,
  &__original-title-name,
  &__genre-name {
    color: black;
  }
}

.modal-btns {
  text-align: center;
  @include mq(tab) {
    text-align: end;
    margin-top: -20px;
    margin-right: 15px;
    margin-bottom: -5px;
  }

  &--watched,
  &--queue {
    height: 34px;
    padding: 8px 16px;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid gray;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;

    @include mq(mob-only) {
      width: 100%;
      height: 45px;
      text-align: center;
    }

    &:hover {
      color: var(--accent);
      background-color: var(--light-hover);
    }

    @include mq(tab) {
      height: 38px;
    }
    @include mq(desk) {
      width: 165px;
      height: 44px;
      font-size: 14px;
    }
  }

  &--watched {
    margin-right: 4px;
    color: var(--light);
    background-color: var(--accent);

    &:hover {
      color: var(--light);
      background-color: var(--accent-hover);
    }

    @include mq(tab) {
      margin-right: 4px;
    }
  }

  &--queue {
    color: var(--accent);
    background-color: transparent;
    border: 1px solid gray;
  }
}
