.popcorn-loader {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  backdrop-filter: blur(0);
  background-color: transparent;
  transition: visibility 0.25s ease, background-color 0.25s ease, backdrop-filter 0.25s ease;

  &.visible {
    visibility: visible;
    background-color: rgba($color: #e2e0e000, $alpha: 0.1);
    backdrop-filter: blur(4px);
  }

  &__gif {
    width: 150px;
    height: 150px;
    background: radial-gradient(#fff 17px, transparent 0);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.45s ease, opacity 0.45s ease;

    .popcorn-loader.visible & {
      visibility: visible;
      opacity: 1;
    }
  }
}
